html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-image: url("../images/page-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

[class$="bar"] {
	height: 20px;
	margin-bottom: 1em;
	border: 1px solid #000;
}

.blue-bar {
	background: #39ffd2;
}

.red-bar {
	background: #f96e6e;
}

.green-bar {
	background: #34ff41;
}

.yellow-bar {
	background: #fcff00;
}

#updates {
	flex: 100%;
	text-align: center;
	margin: 0.5em 0;
}

#game-area {
	border: 1px solid black;
	margin: auto;
}